body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.header {
	background: #ede574;
}
.aboutCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	text-align: left;
}
.card {
	box-shadow: 2px 8px 7px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 8px 7px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 8px 7px 5px rgba(0, 0, 0, 0.2);
}
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.grad {
	background: #ede574; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to top,
		#ffff,
		#ede574
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to top,
		#ffff,
		#ede574
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-analyze {
	background: #f7f3c0; /* fallback for old browsers */
}
.footer {
	background: #343f51;
}
